<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head}"></head>

<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">

    <div th:replace="base :: titulo('Novo Pedido')"></div>

    <div class="card mt-3">
        <!-- Utilizamos para ter acesso ao parametro tipado do request -->
        <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
            <div class="form-group">
                <label class="form-label" for="nomeProduto"> Produto </label>
                <!-- Sintaxe para acessar atributo do objeto acima, ira criar id, name, value com nome do field -->
                <input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" type="text" name="nomeProduto" placeholder="Nome do produto">
                <small> Informe qual o nome do produto.</small>
                <div th:errors="*{nomeProduto}" class="invalid-feedback">
                    Erros do nome do Produto
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="urlProduto"> Url </label>
                <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" type="text" name="urlProduto" placeholder="Url do produto">
                <small> Informe qual a Url do produto.</small>
                <div th:errors="*{urlProduto}" class="invalid-feedback">
                    Erros da url do Produto
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="urlImagem"> Imagem </label>
                <input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" type="text" name="urlImagem" placeholder="Url da imagem">
                <small> Informe qual a url da imagem.</small>
                <div th:errors="*{urlImagem}" class="invalid-feedback">
                    Erros da url da Imagem
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="descricao"> Descrição </label>
                <textarea th:field="*{descricao}" th:errorclass="is-invalid" class="form-control" name="descricao"
                          placeholder="Adicione detalhes importantes para o comprador"></textarea>
                <div th:errors="*{descricao}" class="invalid-feedback">
                    Erros da descricao do produto
                </div>
            </div>
            <button class="btn btn-primary" type="submit"> Cadastrar </button>
        </form>
    </div>
</div>


</body>

</html>